@use "variables";
@use "mixins";

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  background: variables.$white;
  font-family: variables.$font;
}

button{
  cursor: pointer;
  border: none;
}

a{
  text-decoration: none;
}

.btn-state{
  background: variables.$grey;
}

img{
  width: 100%;
  height: 100%;
}

.portfolio__illustration{
  height: 280px;
  width: 380px;
  img{
    object-fit: contain;
  }
}


.title-ep{
  color: variables.$red;
}

.work-ep{
  color: variables.$grey;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background: variables.$red;
}

.container{
  @include mixins.container(variables.$center);
}

.port-btn{
  background: variables.$red;
    color: variables.$white;
    padding: 13px 6px;
    width: 170px;
    font-size: 1.5em;
    
    @include mixins.transition(background);
      
    &:hover{
      @extend .btn-state
    }
}

.nav{
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 22px 0;
  background:variables.$white;

  .nav__logo{
    @include mixins.portfolio-font-style(variables.$font-weight-700, 45px, variables.$red)
  }

  .nav__menu{
    display: flex;
    align-items: center;

    li{
      list-style: none;
      margin: 0 22px;
      
      a{
        text-decoration: none;
        padding: 0 12px;
        @include mixins.portfolio-font-style(variables.$font-weight-400, 16px, variables.$dark);

        &:hover{
          color: variables.$red;
          @include mixins.transition(color);
        }
      }

      &.nav__menu--btn{
        background: variables.$red;
        padding: 10px 30px;
        margin-right: 0;
        cursor: pointer;
        @include mixins.transition(background);
        
        a{
          color: variables.$white;
        }

        &:hover{
          @extend .btn-state
        }
      }
    }
  }
}

.header{
  padding-top: 4em;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  
  .header__text{
    .header__text--title{
      padding-top: 1.5em;
      @include mixins.portfolio-font-style(variables.$font-weight-700, 35px, variables.$dark);
      width: 530px;
    }

    .header__text--subtitle{
      @include mixins.portfolio-font-style(variables.$font-weight-400, 25px, variables.$dark);
      width: 480px;
      margin: 15px 0;
      line-height: 1.4;
    }
  }

  .header__text--CTA{
    display: flex;
    align-items: center;
    margin-top: 35px;

    .header__text--CTA-social-links{
      margin-left: 2.4em;
      display: flex;

      a{
        margin: 0 10px;
        width: 36px;
        height: 36px;

        img{
          @extend img;
          object-fit: cover;
        }
      }
    }
  }

  .header__text--CTA-btn{
    border-radius: 5px;
    @extend .port-btn
  }
  
}

.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .about__text{
    padding: 6em 0em;
    
    .about__text--info{
      width: 530px;
      line-height: 1.5;
      font-size: 1.1em;
      margin: 15px 0 20px 0;
    }
  } 
}

.work{
  padding-bottom: 6em;

  .work__text--title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 15px 12px;

    .work__text--title--link{
      display: flex;
      align-items: center;
      
      a{
        color: variables.$grey;
      }


      .work__text--title--link-arr{
        height: 20px;
        width: 20px;

        img{
          @extend img;
          object-fit: contain;
        }
      }
    }
  }

  .work__experience{
    border-top: 2px solid #909090;
    padding: 15px 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    grid-gap: 0px 20px;
    
    .work__experience--company{
      margin: 12px 0;
      line-height: 1.3;
      padding: 8px 0;

      p:first-child{
        color: variables.$grey;
      }
    }
  }
}

.skill{
  padding-bottom: 6em;

  .skill__text{
    padding: 0 12px 15px 12px;
  }

  .skill__lists{
    padding: 35px 12px;
    border-top: 2px solid #909090;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 314px;
    grid-gap: 0 2em;
    

    .skill__list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
      border-radius: 5px;
      padding: 0 28px;
      cursor: pointer;
      @include mixins.transition(box-shadow);

      &:hover{
        box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.1);
      }

      img{
        height: 50px;
        width: 50px;
        object-fit: contain;
      }

      h4{
        padding: 15px 0;
        font-weight: 600;
        font-size: 18px;
      }

      p{
        width: 200px;
        line-height: 1.5;
        font-size: 0.9em;
      }
    }
  }
}

.selected-works{
  padding-bottom: 6em;

  .selected-works__text{
    padding: 0 12px 15px 12px;
  }

  .selected-works__grid{
    display: grid;
    grid-template-areas: "a a""b b""c c";
    grid-template-rows: repeat(3, 320px);
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    .selected-works__grid--images{
      

      &.item{
        grid-area: a;
        width: 100%;
      }

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  }
}

.skillset{
  .skillset-works__text{

    .skillset-works__text--subtext{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 15px;

      p{
        @include mixins.portfolio-font-style(variables.$font-weight-400, 20px, variables.$dark);
        width: 610px;
      }

      .skillset-works__text--subtext--images{
        height: 96px;
        width: 96.1px;
  
        img{
          object-fit: contain;
        }
      }
    }
  }
}

.contact__blocks{
  width: 832px;
  padding: 5em 0;
  display: flex;
  justify-content: space-between;

  .contact__blocks-left{
    width: 382px;

    p{
      padding: 15px 0;
      margin-bottom: 15px;
    }

    .contact__blocks-left--CTA-btn{
      @extend .port-btn
    }
  }

  .contact__blocks-right{
    .contact__blocks-right--social-links{
      a{
        height: 30px;
        width: 30px;
        margin: 16px 0;
        display: flex;
        align-items: center;
        color: variables.$dark;
      

        img{
          @extend img;
          object-fit: cover;
        }

        p{
          margin-top: 8px;
          margin-left: 8px;
        }
      }
    }
  }
}


.footer{
  padding: 25px 0;
  background: variables.$red;
  @include mixins.portfolio-font-style(variables.$font-weight-400, 22px, variables.$white);
  text-align: center;
}